<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>New Plan Of Rx</title>
</head>
<body>

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> New Plan Rx (
                    <span th:if="${treatmentPlan.register.registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).EMERGENCY}">
                        Emergency Indoor
                    </span>
                    <span th:if="${treatmentPlan.register.registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).GENERAL}">
                        General Indoor
                    </span>
                    )</h2>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">New Treatment plan</div>

                <form class="form-horizontal" method='POST' th:object="${treatmentPlan}"
                      th:action="@{/treatmentplan/create}">
                    <div class="panel-body">

                        <fieldset>
                            <input type="hidden" th:field="*{register.id}"/>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.treatment.plan.plan}">
                                    Plan
                                </label>

                                <div class="col-sm-3">

                                    <select class="form-control" th:field="*{treatmentPlanType}">
                                        <option value="" th:text="#{common.select.prompt}"></option>
                                        <option th:each="plan : ${T(org.jugbd.mnet.domain.enums.TreatmentPlanType).values()}"
                                                th:value="${plan}"
                                                th:text="${plan.label}"
                                                th:selected="${plan == treatmentPlan.treatmentPlanType}">
                                        </option>
                                    </select>

                                    <p class="text-danger" th:if="${#fields.hasErrors('treatmentPlanType')}">
                                        <span th:errors="*{treatmentPlanType}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div id="otherTreatmentPlanType" style="display: none;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Other Plan </label>

                                    <div class="col-sm-3">
                                        <textarea type="text" class="form-control" rows="2"
                                                  th:field="*{otherTreatmentPlanType}"></textarea>

                                        <p class="text-danger" th:if="${#fields.hasErrors('otherTreatmentPlanType')}">
                                            <span th:errors="*{otherTreatmentPlanType}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="typeOfConservativeTreatment">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Type of Conservative Treatment </label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control"
                                               th:field="*{typeOfConservativeTreatment}"/>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('typeOfConservativeTreatment')}">
                                            <span th:errors="*{typeOfConservativeTreatment}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="treatmentPlanDiv">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Type of Operative Treatment </label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control"
                                               th:field="*{typeOfOperativeTreatment}"/>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('typeOfConservativeTreatment')}">
                                            <span th:errors="*{typeOfOperativeTreatment}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Comments </label>

                                <div class="col-sm-3">
                                        <textarea type="text" class="form-control" rows="3"
                                                  th:field="*{comment}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('comment')}">
                                        <span th:errors="*{comment}">Required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="panel-footer clearfix">

                        <a class="btn btn-danger"
                           th:href="@{/treatmentplan/back/__${treatmentPlan.register.id}__}">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}">Back</span>
                        </a>
                        <button type="submit" class="btn btn-primary pull-right">Save Changes <i class="fa fa-floppy-o"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <script type="application/javascript">
        initialize();

        function initialize() {
            enableOperativeBoxIfOperative('treatmentPlanType', 'treatmentPlanDiv');
            addDropdownChangeEvent("treatmentPlanType", "treatmentPlanDiv");
        }


        function addDropdownChangeEvent(selectId, commentDiv) {
            jQuery("#" + selectId).change(function () {
                enableOperativeBoxIfOperative(selectId, commentDiv);
            });
        }

        function enableOperativeBoxIfOperative(selectId, commentId) {

            var others = jQuery("select[id='" + selectId + "'] option:selected").val();

            if (others != "") {
                if (others == "OPERATIVE") {
                    enableDiv(true, commentId);
                    enableDiv(false, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "none");
                } else if (others == "CONSERVATIVE") {
                    enableDiv(false, commentId);
                    enableDiv(true, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "none");
                } else if (others == "OTHER") {
                    enableDiv(false, commentId);
                    enableDiv(false, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "block");
                }
            } else {
                enableDiv(false, commentId);
                enableDiv(false, "typeOfConservativeTreatment");
                $("#otherTreatmentPlanType").css("display", "none");
            }
        }

        function enableDiv(enable, commentId) {

            if (enable) {
                jQuery("#" + commentId).show();
            } else {
                jQuery("#" + commentId).hide();
            }
        }
    </script>
</div>

</body>
</html>