<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title th:text="${patient.name}">Show Patient</title>
</head>

<body>
<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Patient Information</h2>
            </div>
        </div>
        <div class="row">
            <div th:if="${message}" class="alert alert-info">
                <p th:text="${message}"></p>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-8 col-md-8">
                                <h3 class="text-primary"><a th:href="@{/patient/details/__${patient.id}__}"> <span
                                        th:text="${patient.name}">Bazlur Rahman Rokon</span></a>
                                    <small th:if="${patient.gender}" th:text="${patient.gender.label}">Male</small>
                                    <small th:text="${patient.dateOfBirth} ? ${#dates.format(patient.dateOfBirth,'dd/MM/yyyy')}"></small>
                                    <strong>
                                        <small id="then" th:attr="data-date=${patient.dateOfBirth}"></small>
                                    </strong>
                                    <small th:if="${patient.birthdateEstimated}" class="badge">Est.</small>
                                    <small><a sec:authorize="hasRole('ROLE_ADMIN')"
                                              th:href="@{/patient/edit/__${patient.id}__}">Edit</a>
                                    </small>
                                </h3>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <p class="text-right">
                                    <i>Health ID</i> : <strong class="badge" th:text="${patient.healthId}"></strong>
                                    <br/>
                                    <!--<i th:if="${register}">Registration No : </i><span th:if="${register}"> <strong-->
                                    <!--class="badge" th:text="${register.registrationId}"></strong> </span>-->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${not #lists.isEmpty(generalIndoors)}" class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">All General Indoor Registers</div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <th>#</th>
                                <th>Registration Number</th>
                                <th>Start Date</th>
                                <th>Status</th>
                                <th>Registration Type</th>
                                <th>Closed Date</th>
                                </thead>
                                <tbody>
                                <tr th:each="register : ${generalIndoors}">
                                    <td>
                                        <a class="btn btn-sm btn-success" th:href="@{/register/show/__${register.id}__}">&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"> </span> Open</a>
                                    </td>
                                    <td th:text="${register.registrationId}"></td>
                                    <td th:text="${register.startDatetime} ? ${#dates.format(register.startDatetime,'dd MMMM yyyy')}"></td>
                                    <td th:text="${register.status} ? ${register.status}"></td>
                                    <td class="text-uppercase"
                                        th:text="${register.registrationType} ? ${register.registrationType.label}"></td>
                                    <td th:text="${register.stopDatetime} ? ${#dates.format(register.stopDatetime,'dd MMMM yyyy')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${not #lists.isEmpty(emergencyIndoors)}" class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">All Emergency Indoor Registers</div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <th>#</th>
                                <th>Registration Number</th>
                                <th>Start Date</th>
                                <th>Status</th>
                                <th>Registration Type</th>
                                <th>Closed Date</th>
                                </thead>
                                <tbody>
                                <tr th:each="register : ${emergencyIndoors}">
                                    <td>
                                        <a class="btn btn-sm btn-success" th:href="@{/register/show/__${register.id}__}">&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"> </span> Open</a>
                                    </td>
                                    <td th:text="${register.registrationId}"></td>
                                    <td th:text="${register.startDatetime} ? ${#dates.format(register.startDatetime,'dd MMMM yyyy')}"></td>
                                    <td th:text="${register.status} ? ${register.status}"></td>
                                    <td class="text-uppercase"
                                        th:text="${register.registrationType} ? ${register.registrationType.label}"></td>
                                    <td th:text="${register.stopDatetime} ? ${#dates.format(register.stopDatetime,'dd MMMM yyyy')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">Register Info</div>
                        <div class="panel-body">
                            <div th:if="${!hasActiveIndoor}">
                                <h3 class="text-primary">This patient has not any active registration</h3>

                                <div class="pull-right">
                                    <a class="btn btn-primary"
                                       th:href="@{/register/patient/__${patient.id}__/registration-type/emergency}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span class="text-uppercase"> Create Emergency Indoor Register</span>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-success"
                                       th:href="@{/register/patient/__${patient.id}__/registration-type/general}">
                                        <span class="text-uppercase"> Create General Indoor Register</span>
                                        <i class="fa fa-hospital-o"></i>
                                    </a>
                                </div>
                            </div>

                            <div th:if="${hasActiveIndoor}">
                                <a class="btn btn-primary btn-primary pull-right"
                                   th:href="@{/register/show/__${activeIndoor.id}__}">
                                    <span class="glyphicon glyphicon-folder-open"></span> Open Active Register
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div layout:fragment="custom-scripts">
    <script src="../../../resources/js/moment.js" th:src="@{/resources/js/moment.js}"></script>
    <script>
        $(document).ready(function () {
            var then = $('#then'),
                    date = moment(new Date(then.attr('data-date'))),
                    update = function () {
                        then.html(date.fromNow(true));
                    };
            update();
            setInterval(update, 60000);
        });
    </script>
</div>
</body>
</html>