<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Examination :: Register</title>

</head>
<body th:with="page='examination'">

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h2 class="page-header"><span th:text="${registrationType.label}"> </span> Registration</h2>
            </div>
        </div>

        <div class="row">
            <div layout:include="layout/common-fragment :: patient-info"></div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-3 col-md-4">
                <div layout:include="layout/common-fragment :: ipd-register"></div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Examination :: <span class="text-uppercase"
                                                                    th:text="${registrationType.label}"> </span>

                        <div class="pull-right">
                            <small th:if="${register.chiefComplaint != null}">
                                <em>Created By :</em> <strong> <em th:text="${register.examination.createdBy.fullName}"> </em></strong>
                                &nbsp;&nbsp;
                                <em>Last Modified By :</em> <strong> <em th:text="${register.examination.lastModifiedBy.fullName}"> </em></strong>
                            </small>
                        </div>

                    </div>

                    <div class="panel-body">
                        <div th:if="${register.examination == null}">
                            <h3 class="text-primary">No Examination found</h3>
                        </div>

                        <div th:unless="${register.examination == null}">

                            <fieldset class="border">
                                <legend class="border">General Examination</legend>
                                <table class="table table-condensed">
                                    <tr>
                                        <td><strong>Anaemia</strong></td>
                                        <td>
                                            <span th:text="${register.examination.anaemia} ? ${register.examination.anaemia.label}"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><strong>Jaundice</strong></td>
                                        <td>
                                            <span th:text="${register.examination.jaundice} ? ${register.examination.jaundice.label}"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><strong>Accessible Lymph Node</strong></td>
                                        <td>
                                            <span th:text="${register.examination.accessibleLymphNode} ?  ${register.examination.accessibleLymphNode.label}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Dehydration</strong></td>
                                        <td>
                                            <span th:text="${register.examination.dehydration} ?  ${register.examination.dehydration.label}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Oedema</strong></td>
                                        <td>
                                            <span th:text="${register.examination.oedema} ?  ${register.examination.oedema.label}"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><strong>General Examination Comments</strong></td>
                                        <td th:text="${register.examination.gExaminationComments} ? ${register.examination.gExaminationComments}"></td>
                                    </tr>
                                </table>
                            </fieldset>

                            <fieldset class="border">
                                <legend class="border">Vitals</legend>
                                <table class="table table-condensed">

                                    <tr class="dl-horizontal">
                                        <td><strong>Pulse</strong></td>
                                        <td th:text="${register.examination.pulse} ? ${register.examination.pulse}"></td>
                                    </tr>

                                    <tr class="dl-horizontal">
                                        <td><strong>Temperature (&deg;F)</strong></td>
                                        <td th:text="${register.examination.temperature} ? ${register.examination.temperature}"></td>
                                    </tr>

                                    <tr class="dl-horizontal">
                                        <td><strong>Respiratory Rate</strong></td>
                                        <td th:text="${register.examination.respiratoryRate} ? ${register.examination.respiratoryRate + '/min'}"></td>
                                    </tr>

                                    <tr class="dl-horizontal">
                                        <td><strong>Blood Pressure</strong></td>
                                        <td>
                                            <span th:text="${register.examination.systolic} ? ${register.examination.systolic }"></span>&MediumSpace;/
                                            <span th:text="${register.examination.diastolic} ? ${register.examination.diastolic }"></span>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>


                            <fieldset class="border">
                                <legend class="border">Local Examination</legend>
                                <table class="table table-condensed">
                                    <tr>
                                        <td><strong>Local Examination</strong></td>
                                        <td th:text="${register.examination.listeningExamination} ? ${register.examination.listeningExamination}"></td>
                                    </tr>
                                </table>
                            </fieldset>

                            <fieldset class="border">
                                <legend class="border">Systemic Examination</legend>
                                <table class="table table-condensed">
                                    <tr>
                                        <td><strong>Respiratory System</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.respiratorySystem)}"
                                            th:text="${register.examination.respiratorySystem}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.respiratorySystem)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>GI System</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.gISystem)}"
                                            th:text="${register.examination.gISystem}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.gISystem)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>Cardiovascular System</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.cardiovascularSystem)}"
                                            th:text="${register.examination.cardiovascularSystem}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.cardiovascularSystem)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>Urogenital System</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.urogenitalSystem)}"
                                            th:text="${register.examination.urogenitalSystem}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.urogenitalSystem)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>Nervous System</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.nervousSystem)}"
                                            th:text="${register.examination.nervousSystem}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.nervousSystem)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>DRE</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.dre)}"
                                            th:text="${register.examination.dre}"></td>
                                        <td th:if="${#strings.isEmpty(register.examination.dre)}"
                                            th:text="'No Abnormality Detected'"></td>
                                    </tr>

                                    <tr>
                                        <td><strong>Comments</strong></td>
                                        <td th:if="${!#strings.isEmpty(register.examination.comments)}"
                                            th:text="${register.examination.comments}"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>

                    <div class="panel-footer clearfix">
                        <div th:if="${#strings.toString(register.status).toUpperCase() == 'ACTIVE'}">
                            <div th:if="${register.examination == null}">
                                <a class="btn btn-sm btn-info pull-right"
                                   th:href="@{/examination/create/__${register.id}__}"><span
                                        class="glyphicon glyphicon-plus"></span> Add New</a>
                            </div>

                            <div th:unless="${register.examination == null}">
                                <a href="#" class="btn btn-sm btn-info pull-right"
                                   th:href="@{/examination/edit/__${register.examination.id}__}"> <span
                                        class="glyphicon glyphicon-edit"></span> Edit </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">

</div>

</body>
</html>